*{
    font-family: Inter,sans-serif;
}

header {
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 35px;
  }

hr{
    position: relative;
    opacity: 10%;
}

body{
    display: block;
}

.Logo_nav{
    position: relative;
    float: left;
    left: 20px;
}

.Letras_nav{
    position: relative;
    float: right;
    top: -10px;
    right: 20px;
    font-size: 70%;
    text-align: left;
}

.aau{
    position: relative;
    right: 20px;
    top: 5px;
}

.sn{
    position: relative;
    right: 30px;
    top: -3px; 
}

h1{
    font-weight: 600;
    font-size: 130%;
    margin-bottom: 20px;
}

fieldset{
    position: relative;
    border-color: transparent;
    display: block;
    left: 100px;
}

.botonesa{
    margin-bottom: 20px;
}

.siwg{
    position: relative;
    margin-right: 5px;
    height: 30px;
    background-color: #4285F4;
    border-style: none;
    color: white;
    text-align: center;
}

.cwf{
    position: relative;
    margin-right: 5px;
    height: 30px;
    background: #4267b2;
    border-style: none;
    color: white;
    text-align: center;

}

.owe{
    font-size:80%;
    margin-bottom: 20px;
}

.lemail{
    position: relative;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 70%;
}

.email{
    position: relative;
    display: block;
    margin-bottom: 25px;
    width: 400px;
    height: 25px;
    color: grey;
}

.lpasword{
    position: relative;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 70%;
}

.password{
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 400px;
    height: 25px;
}

.boxterms{
    position: relative;
    display: inline-block;
    font-size: 85%;
    margin-bottom: 10px;
}

.ca{
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    height: 35px;
    width: 180px;
    border-radius: 20px;
    border-style: dashed;
    opacity: 30%;
}

footer{
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 35px;
    margin-top: 60px;
}

.issuu{
    position: absolute;
    left: 45px;
    top: 20px;
    font-size: 70%;
}

.tpd{
    position: absolute;
    top: 20px;
    left: 170px;
    font-size: 70%;
}

a{
    margin: 10px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}



